<div class="container" id='home'>
  
  <!-- Dataset Description -->
  <div class="row justify-content-center" id="database-description-div">
    <div class="col-sm-8">
      <br><br>
      <h5>Dataset Description</h5>
      <p>The dataset used for this application is called <b><i>The Berka Dataset</i></b>.
      This dataset, which was created by Petr Berka and Marta Sochorova, is a collection
      of information from a Czech bank in 2002. More information about this dataset can
      be found on 
      <a href="https://webpages.uncc.edu/mirsad/itcs6265/group1/domain.html" target="_blank" class="text-primary"> 
      this website.</a></p>
    </div>
    <div class="col-sm-4">
      <img src="../img/dataset-img.png" width="350px">
    </div>
  </div>

  <hr>

  <br><br>
  <img src="../img/query1-img.png" height="200px" class="mx-auto d-block">
  <br>
  
  <!-- Query 1 -->
  <div class="row" id="query11-div">
    <div class="col">
      <a class = 'query name' href = '/query1'>Roll Up</h5>
      <p>Roll up, also known as drill-up or aggregated operation is a multidimensional 
        OLAP query operation that performs aggre-gation on a cubed dataset. This sample query 
       views the results of each column of separate queries side-by-side, comparing the resulting
       values and selected tables. With the aggregation operation roll up, one can view 
       these results with just one query</p>
    </div>
  </div>

  <hr>

  <!-- Query 2 -->
  <div class="row" id="query12-div">
    <div class="col">
      <a class = 'query-name' href = '/query2'>Drill Down</a>
      <p>A Drill Down is nearly the same function as a Roll Up. Instead
        of going higher in the hierarchy, a Drill Down steps down the
        hierarchy from a summarised level to view the data in a moredetailed level.
        The Query shows gathers all transactions made by anaccount and compares 
        adds them in groups of months, quarter,and the year they were made by 
        comparing the timeid in thetransactions table to the time table
      </p>
    </div>
  </div>

  <hr>

  <!-- Query 3 -->
  <div class="row" id="query21-div">
    <div class="col">
      <a class = 'query-name' href = '/query3'>Slice</a>
      <p>A Slice Operation forms a subset of a cubed dataset by specifying a 
        single and specific value from one of the dimensionsof the three dimensional 
        cube and settling with that to create atwo dimensional site of the table.
        This query uses the slice operation to determine the count ofeach transaction 
        characterization type that has occurred in ayear that a user would input. 
        The results give a better outlookon how often each characterization is used for 
        each quarterof the year and would help the database owner determine thefrequency of 
        transactions done in a selected year.
      </p>
    </div>
  </div>
  <hr>

  <!-- Query 4 -->
  <div class="row" id="query22-div">
    <div class="col">
      <a class = 'query-name' href = '/query4view'>Dice</a>
      <p>This Query aims to compare 2 Districts with 2 different characterization types and 2 different quarters using Cube as the OLAP Query . </p>
    </div>
  </div>

  <br><br><br>
  <br><br><br>
</div>